<!-- views/partials/navigation.ejs -->
<div class="header-container">
  <div class="logo">
    <a href="/" class="site-title">
      <span class="zh-title">逆风</span>
      <span class="site-subtitle">德国反歧视分享平台</span>
    </a>
  </div>
  <nav>
    <a href="/" class="<%= path === '/' ? 'active' : '' %>" title="主页">主页</a>
    <a href="/posts" class="<%= path === '/posts' ? 'active' : '' %>" title="故事">故事</a>
    <a href="/help-support" class="<%= path === '/help-support' ? 'active' : '' %>" title="求助">求助</a>
    <a href="/about" class="<%= path === '/about' ? 'active' : '' %>" title="关于">关于</a>
  </nav>
</div>