<!-- views/partials/navigation.ejs -->
<div class="header-container">
  <div class="logo">
    <a href="/" class="site-title">
      <span class="zh-title">逆风</span>
    </a>
  </div>
  <nav>
    <a href="/" class="<%= path === '/' ? 'active' : '' %>">主页</a>
    <a href="/posts" class="<%= path === '/posts' ? 'active' : '' %>">故事</a>
    <a href="/help-support" class="<%= path === '/help-support' ? 'active' : '' %>">求助</a>
    <a href="/about" class="<%= path === '/about' ? 'active' : '' %>">关于</a>
  </nav>
</div>